.bundle/
log/*.log
pkg/

# spec files
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
spec/dummy/public/tmp/cache/
spec/dummy/public/tmp/store/
spec/tmp

# environment specific properties
.env

# simplecov reports
coverage
