<!DOCTYPE html>
<html>
<head>
  <title>Molecular</title>
  <%= stylesheet_link_tag    "molecular/application", media: "all" %>
  <%= javascript_include_tag "molecular/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
