<div class="empty">
  <div class="container-center" style="max-width: 600px;">
    <span class="glyphicon glyphicon-inbox" style="font-size: 3em; color: #febe12;"></span>
    <h2><%= t('.title') %></h2>
    <p><%= t('.text')%></p>
  </div>
</div>
