<%= render partial: 'molecular/campaigns/reports/header', locals: {campaign: campaign, active: :overview}%>

<div class="row sub-section report-summary">
  <div class="col-md-6">
    <p>
      <strong><%= Molecular::Campaign.human_attribute_name(:body) %>:</strong>
      <%= link_to t('.link.view_body'), "#", data: {toggle: "modal", target: "#mail-preview-modal"} %>
    </p>
    <p>
      <strong><%= t('.recipients.label')%>:</strong>
      <%= link_to t('.recipients.count', count: campaign.recipients.count), campaign_subscriptions_path(@campaign) %>
    </p>
  </div>

  <div class="col-md-6">
    <p>
      <strong><%= Molecular::Campaign.human_attribute_name(:sent_at) %>:</strong>
      <%= l(campaign.sent_at, format: :default_concise) %>
    </p>
  </div>
</div>

<% if campaign.subscriptions.any? %>
  <%= render partial: 'molecular/campaigns/reports/events', locals: {campaign: @campaign} %>
<% else %>
  <%= render partial: 'molecular/campaigns/reports/empty', locals: {campaign: @campaign} %>
<% end %>
