<div class="header">
  <h1>Campaign report</h1>
</div>

<h2>Overview</h2>

<div class="row sub-section">
  <div class="col-md-6">
    <p>
      <strong>Subject:</strong>
      <%= campaign.subject %>
    </p>

    <p>
      <strong>Content:</strong>
      <%= link_to 'View email', "#", data: {toggle: "modal", target: "#mail-preview-modal"} %>
    </p>
  </div>

  <div class="col-md-6">
    <p>
      <strong>Sent at:</strong>
      <%= campaign.sent_at.strftime('%a, %d %b %Y %H:%M') %>
    </p>

    <p>
      <strong>Sent to:</strong>
      <% if Rails.application.routes.url_helpers.method_defined?(:molecular_recipients_path) %>
        <%= link_to "#{campaign.recipients.count} recipients", main_app.molecular_recipients_path(q: campaign.recipients_query),
          target:"_blank" %>
      <% else %>
        <%= "#{campaign.recipients.count} recipients" %>
      <% end %>
    </p>
  </div>
</div>

<% open_rate = number_to_percentage(campaign.open_rate, precision: 1) %>
<% click_rate = number_to_percentage(campaign.click_rate, precision: 1) %>

<div class="row sub-section">
  <div class="col-md-6">

    <div class="meter-data clearfix">
      <span class="pull-left strong">Open rate</span>
      <span class="h4 pull-right no-margin highlight">
        <%= open_rate %>
      </span>
    </div>

    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: <%= open_rate %>;">
      </div>
    </div>

    <ul class="list-unstyled menu-list">
      <li>
        <span>Total opens</span>
        <span class="pull-right">
          <%= campaign.total_opens %>
        </span>
      </li>
      <li>
        <span>Last opened</span>
        <span class="pull-right">
          <%= campaign.last_open.try(:triggered_at).try(:strftime, '%m/%d/%Y %H:%M') || "-" %>
        </span>
      </li>
    </ul>
  </div>

  <div class="col-md-6">
    <div class="meter-data clearfix">
      <span class="pull-left strong">Click rate</span>
      <span class="h4 pull-right no-margin highlight">
        <%= click_rate %>
      </span>
    </div>

    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: <%= click_rate %>;">
      </div>
    </div>

    <ul class="list-unstyled menu-list">
      <li>
        <span>Total clicks</span>
        <span class="pull-right">
          <%= campaign.total_clicks %>
        </span>
      </li>
      <li>
        <span>Last clicked</span>
        <span class="pull-right">
          <%= campaign.last_click.try(:triggered_at).try(:strftime, '%m/%d/%Y %H:%M') || "-" %>
        </span>
      </li>
    </ul>
  </div>
</div>

<div class="stats text-center sub-section clearfix">
  <div class="col-md-3">
    <h4 class="highlight"><%= campaign.delivered_count %></h4>
    <p>Delivered</p>
  </div>

  <div class="col-md-3">
    <h4 class="highlight"><%= campaign.pending_count %></h4>
    <p>Pending</p>
  </div>

  <div class="col-md-3">
    <h4 class="highlight"><%= campaign.bounces_count %></h4>
    <p>Bounced</p>
  </div>

  <div class="col-md-3">
    <h4 class="highlight"><%= campaign.rejected_count %></h4>
    <p>Rejected</p>
  </div>
</div>

<% if campaign.events.clicks.any? %>
  <h2>Links clicked</h2>

  <% clicks = campaign.events.clicks %>
  <ul class="list-unstyled sub-section strips">
    <%= render partial: 'click', collection: clicks, locals: {collection: clicks} %>
  </ul>
<% end %>

<% if campaign.subscriptions.with_most_opens.any? %>
  <h2>Subscribers with most opens</h2>

  <% subscriptions = campaign.subscriptions.with_most_opens %>
  <ul class="list-unstyled sub-section strips">
    <%= render partial: 'subscription', collection: subscriptions, locals: {collection: subscriptions} %>
  </ul>
<% end %>
