<div class="page-header">
  <h1>
    <%= t('.title')%>
    <%= link_to t('.create'), new_campaign_path, class: 'btn btn-primary btn-add' %>
  </h1>
</div>


<ul class="campaigns-list strips list-unstyled">
  <%= render(partial: "campaign", collection: @campaigns) || render(partial: "empty") %>
</ul>

<%#
  Workaround a kaminari issue with engine routes described in the link bellow:
  https://github.com/amatsuda/kaminari/pull/322

  A fix has been submited, but the PR still not merged:
  https://github.com/amatsuda/kaminari/pull/636

  In Molecular, kaminari fails because the routes are dynamically inserted
  into the main app by mount_molecular method.
%>

<% _with_routes main_app.routes do %>
  <%= paginate @campaigns %>
<% end %>
